$proxima-fm-400: 'Proxima Nova Cn Lt';
$proxima-fm-600: 'Proxima Nova Lt';
$proxima-fm-700: 'Proxima Nova Cn Th';
$proxima-fm-900: 'Proxima Nova ExCn Bl';

$primary-color: #333333;
$secondary-color: #FFD00E;
$bg-slider: #FFFEFC;