@import "_global.scss";
@import "_reset.scss";
@import "_vars.scss";
@import "_fonts.scss";



.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-right: 75px;
  padding-left: 75px;
}
.main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
}

.header {
  background-color: $bg-slider;
}

.logo {
  padding: 16px 0px;
}

.menu {
  padding:  39.5px 0px;
  
  &__list {
    gap: 50px;
  }

  &__list-link {
    color: $primary-color;
    font-size: 20px;
    line-height: 125%;
    font-family: $proxima-fm-600, sans-serif;
    font-weight: 600;
    cursor: pointer;
  }

  // &__list-item:nth-child(-n+4):after{
  //   content: "|";
  //   height: 20px;
  //   display: inline-block;
  //   width: 1px;
  //   opacity: 0.1;
  // }  
}

.social__media {
  gap: 40px;
}

.media {

  &__list {
    gap: 12px;
  }
}

.schedule__time {
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  font-family: $proxima-fm-400, sans-serif;
}

.contact__us {
  gap: 8px;
  cursor: pointer;
  &-number{
    font-size: 26px;
    font-weight: 700;
    line-height: 125%;
    font-family: $proxima-fm-700, sans-serif;
  }
}

.first__section {
  position: relative;
}

.join__us {
  margin-top: 100px;

  &-description {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    font-family: $proxima-fm-600, sans-serif;
  }

  &-description:nth-child(3) {
    margin-top: 20px;
    width: 960px;
  }

  &-header{
    width: 1063px;
    font-size: 90px;
    line-height: 110%;
    font-family: $proxima-fm-900, sans-serif;
    font-weight: 900;
  }

  &-btn {
    margin-top: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 20px 82px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    font-family: $proxima-fm-700, sans-serif;
    background-color: $secondary-color;
    cursor: pointer;
  }

  &-img-dev-bg{
    position: absolute; 
    width: auto;
    top: -79px;
    transform: translateX(-16%);
    z-index: -1;
  }

  &-img-dev{
    position: absolute;
    z-index: 2222;
    top: 91px;
  }
}

.nav__slider {
  margin-top: 211px;

  &-list{
    gap: 17px;
  }
}
